/* Universal End-point */
/* CSS, version 2015-12-08 */



/*** Global style ***/


body
{
	font-family: 'Calibri', Arial, sans-serif;
}

#page_bloc
{
	padding-left: 2px;
}

.center {
	text-align: center;
}

.small {
	font-size:80%;
}

h1 {
	color: #48A9F8;
}

#abstract {
	font-style: italic;
	font-size:80%;
	color: #48A9F8;
}




/*** Header ***/

header
{
	background: ivory;
	box-shadow: 0px 2px 5px #000000;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#main_title
{
	display: inline-block;
	width: 40%;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 3px;
}

#main_title a {
	text-decoration: none;
}

#wait
{
	font-weight: 900;
	margin-top: 50px;
	font-size: 20px;

}


#main_title a
{
	text-decoration: none;
}

#logo
{
	display: inline-block;
	vertical-align: middle;
	height: 75px;
	margin-right: 5px;
}



/* Navigation */

nav
{
	display: inline-block;
	width: 50%;
	text-align: right;
	vertical-align: bottom;
}
nav ul
{
	list-style-type: none;
}
nav li
{
	display: inline-block;
	margin-right: 10px;
}

nav a
{
	font-size: 12px;
	color: #555555;
	font-weight: bold;
	text-decoration: none;
}


/*** Query ***/

.element{
	width:95%;
	font-size:14px;
	border-radius:4px;
}

.sm-element{
width:200px;
font-size:14px;
border-radius:4px;
}

.small_element{
    height:20px;
	font-size:10px;
	border-radius:4px;
}

.onsameline {
    text-align: right;
    clear: both;
    margin-right:15px;
}


.sm-font{
    font-size:10px;
}

.pointer:hover {
	cursor: pointer;
}

aside
{
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
	background-color:#fff;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-size: 0.9em;
}

#query_bloc{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #1c1a19;
    padding-left: 10px;
}
.assisted{
    width: 50%;
}

.not_assisted{
    width: 99%;
}

#informations{
    width: 50%;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 10px;
    padding: 10px;
    margin-left:10px;
}

#informations b {
    color:red;
}
.query_element_hidden
{
	vertical-align: middle;
	width: 18px;
}

.query_element_help
{
	vertical-align: middle;
	width: 20px;
}

.hidden_field{
display:none;
}

#limit {
	display: none;
}

.not_assisted_form{
    display: block;
}
.assisted_form{
    display: none;
}

/** Textarea default **/
textarea{
	outline: none; /* removes the default outline */
	resize: none; /* prevents the user-resizing, adjust to taste */
}
textarea:focus {
	outline: #48A9F8 solid thick;
	outline-width: 2px;
}​

/* Running query */

.progress {
	height: 20px;
	background: #ebebeb;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-radius: 10px;
}


/* Results */

#query_results{
	margin-top: 20px;
}

.query{
    padding : 20px;
    border-radius:15px;
    border: solid 1px #555;
    background-color: #eed;
    margin-top:1px;
    display: none;
    position :relative;
}

.query div {
    position: absolute;
    bottom: 0;
    right: 0;
}
.query div img {
    margin-right:5px;
}
.query_header{
    padding : 8px;
    border: solid 1px #555;
    background-color: #eed;
}

.collapse{
    position: absolute;
    right: 15px;
    vertical-align: middle;
}

table {
font-family: "Lato","sans-serif";
border: 1px;
table-layout:fixed;
width: 100%;
}

th {							  /* removed the border from the table heading row  */
text-align: center;
padding: 0.3em;
background-color: #e8503f;	     /* added a red background color to the heading cells  */
color: white;
}			      /* added a white font color to the heading text */

tr {
    height: 1em;
}

td {							/* removed the border from the table data rows  */
	padding: 0.3em;
	word-wrap:break-word;
}

table tr:nth-child(even) {		      /* added all even rows a #eee color  */
    background-color: #ddd;
}

table tr:nth-child(odd) {		     /* added all odd rows a #fff color  */
    background-color:#fff;
}


/*** Other ***/

.error, .warning {
    color:red;
    text-align: center;
}

.time{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color:#A8A8A8;
}

a:visited { color: #551A8B}
a:hover   { color: #000099 }




/*** Footer ***/

footer {
    border-style: solid;
    border-top: thick double #888888;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    font-size: 10px;
    color : #888888;
}

footer{
    width:100%;
    text-align:center;
    position:relative;
}

footer .left {
    float:left;
    width:100px;
}

footer .center {
    display: inline-block;
    margin:0 auto;
    width:300px;
    text-align:center;
}

.version
{
    display:inline-block;
}

footer .right {
    float:right;
    width:100px;
}





.truc_in_table {
    position: relative;
}

.truc_in_table img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


/* ---------------------------------------- Box in the about file ------------------------------*/
.box, .box_body, .box_head, .box_head h2 {
    background: transparent url(../images/box_background.png) no-repeat bottom right;
}
.box {
    width:98% !important; /* intended total box width - padding-right(next) */
    /*width: 1000px; /* IE Win = width - padding */
    padding-right: 15px; /* the gap on the right edge of the image (not content padding) */
    margin: 0 0 0 0; /* use to position the box */
}

/* set the top-right image */
.box_head {
    background-position: top right; margin-right: -15px; /* pull the right image over on top of border */
    padding-right: 40px; /* right-image-gap + right-inside padding */
}

/* set the top-left image */
.box_head h2 {
    background-position: top left;
    margin: 0; /* reset main site styles*/
    border: 0; /* ditto */
    padding: 25px 0 15px 40px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important; height: 1%; /* IE Holly Hack */
	font-size:100%
}

/* set the lower-left corner image */
.box_body {
    background-position: bottom left;
    margin-right: 25px; /* interior-padding right */
    padding: 15px 0 30px 40px; /* mirror .box_head right/left */
	text-align:justify;
	font-size:80%
	font-size : 1.5em;
}

.query_about{
    font-size : 0.8em;
}

.justify{
text-align:justify;
}

.med-size{
    font-size:1.1em;
}

.one_page {
 position: absolute;
 bottom:0;
 left: 0;
 right:0;
}

#nextpage{
    display:none;
    width:35%;
    color:white;
    background-color:#e8503f;
    border-radius: 8px;
}

#nextpage img {
    float: right;
    margin: 2px;
}

#nextpage > img,
#nextpage > span {
  vertical-align: middle;
  font-size: 150%;
  height: 25px;
}

#previouspage{
    display:none;
    width:35%;
    color:white;
    background-color:#e8503f;
    border-radius: 8px;
}

#previouspage img {
    float: left;
    margin: 2px;
}

#previouspage > img,
#previouspage > span {
  vertical-align: middle;
  font-size: 150%;
  height: 25px;
}

/*toggle button to switch to the assisted mode*/
a.toggler {
    color:white;
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 25px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 25px;
}