<!DOCTYPE html>
<html>
<head>
    <title>SimpleARQL </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div style="margin:10%">
        <form action="/" method="post">
            <div class="form-group">
                <label>Base</label>
                <input type="text" class="form-control" name="base" placeholder="Base">
            </div>
            <div class="form-group">
                <label >Query</label>
                <input type="text" class="form-control" name="query" placeholder="Query">
            </div>
            <div class="text-center">
                <button style="width:50%;" class="btn btn-primary btn-lg" type="submit">Run Query</button>
            </div>
        </form>
    </div>
</body>
</html>
