# Name of the base
Name dbpedia

# link to the base 
Link http://dbpedia.org/sparql

# which filter you prefer to use in this base
Filter VIRTUOSO

# if  the "trucs" included into optioonal trees are wanted 
# mark this field to true, otherwise keep it to false
Optionnal false

# api of this base

API http://dbpedia.org/sparql?query=