# Name of the base
Name DisGeNet



# link to the base 
Link http://rdf.disgenet.org/sparql/

# plateforme to the base
Plateforme http://rdf.disgenet.org/sparql/

# which filter you prefer to use in this base
Filter VIRTUOSO

# if  the "trucs" included into optioonal trees are wanted 
# mark this field to true, otherwise keep it to false
Optionnal false

# api of this base

API http://rdf.disgenet.org/sparql/?query=