# Name of the base
Name European Central Bank


# link to the base 
Link http://ecb.270a.info/sparql

# plateforme to the base
Plateforme http://ecb.270a.info/sparql

# which filter you prefer to use in this base
Filter DEFAULT

# if  the "trucs" included into optioonal trees are wanted 
# mark this field to true, otherwise keep it to false
Optionnal false