# Name of the base
Name HealthData.gov Platform - HDP


# link to the base 
Link http://healthdata.tw.rpi.edu/sparql

# plateforme to the base
Plateforme http://healthdata.tw.rpi.edu/sparql

# which filter you prefer to use in this base
Filter DEFAULT

# if  the "trucs" included into optioonal trees are wanted 
# mark this field to true, otherwise keep it to false
Optionnal false