# Name of the base
Name National Library of France

# status of the base
Status : UP


# link to the base 
Link http://data.bnf.fr/sparql/

# plateforme to the base
Plateforme http://data.bnf.fr/sparql/

# which filter you prefer to use in this base
Filter VIRTUOSO

# if  the "trucs" included into optioonal trees are wanted 
# mark this field to true, otherwise keep it to false
Optionnal false

# api of this base

API http://data.bnf.fr/sparql?query=