# here we found all the properties we want to ignore 
# when we search for ALL properties 

Ignored
http://dbpedia.org/ontology/abstract
http://www.w3.org/2000/01/rdf-schema#comment
http://www.w3.org/2000/01/rdf-schema#label   
End

# We also have some prefixes that will be pre defined in the applicatio
# the user won't have to redfine those 
Prefixes
rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
rdfs:<http://www.w3.org/2000/01/rdf-schema#>
foaf:<http://xmlns.com/foaf/0.1/>
dbo:<http://dbpedia.org/ontology/>
dbp:<http://dbpedia.org/property/>
dc:<http://purl.org/dc/elements/1.1/>
owl:<http://www.w3.org/2002/07/owl#>
End







