# Name of the base
Name Utpl Linked Open Data


# link to the base
Link http://data.utpl.edu.ec/utpl/lod/sparql

# plateforme to the base
Plateforme http://data.utpl.edu.ec/utpl/lod/sparql

# which filter you prefer to use in this base
Filter VIRTUOSO

# if  the "trucs" included into optioonal trees are wanted
# mark this field to true, otherwise keep it to false
Optionnal false

# api of this base

API http://data.utpl.edu.ec/utpl/lod/sparql?query=