# Name of the base
Name Wikidata

# link to the base
Link https://query.wikidata.org/sparql

# plateforme to the base
Plateforme https://query.wikidata.org/

# which filter you prefer to use in this base
Filter DEFAULT

# if  the "trucs" included into optioonal trees are wanted
# mark this field to true, otherwise keep it to false
Optionnal false
