# port utilisé entre le webservice et le client SimplePARQL
Port 2222

# dossier contenant les fichiers de configurations des différentes bases.
basesConfig C:\Users\HP\IdeaProjects\SimplePARQL\configs

#fichier contenant les propriétes à ignorer
queryConfig C:\Users\HP\IdeaProjects\SimplePARQL\configs\query.config

# niveau du logger
level DEBUG
